.btn > span{
  font-size: 15px;
}

.purple{
  background-color: #6e0ad6;
  color: #fff;
  margin-right: 25px;
  margin-left: 25px;
}

.input-group{
  width: 400px;
  margin-left: 20px;
  margin-right: 30px;
}
