<nav class="navbar navbar-expand-lg navbar-light shadow bg-light">
  <div class="container-fluid">
    <a class="navbar-brand btn" href="#">
      <img src="../../../assets/images/logo.svg">
      <span class="ms-1">Stark's House</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Comprar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Alugar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Financiamento</a>
        </li>
      </ul>
      <div class="d-none d-lg-block">
        <div class="input-group ">
          <input type="text" class="form-control" placeholder="Pesquisar">
          <span class="input-group-text btn btn-outline-secondary" id="basic-addon2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </span>
          </div>
      </div>

      <div>
        <a href="#" class="btn btn-outline purple m-sm-0  ">
          Anunciar
        </a>
      </div>
      <div class="m-sm-0">
        <a href="#" class="btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#212529" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
          <span class="ms-2">Entrar</span>
        </a>
      </div>
    </div>
  </div>
</nav>
