<div class="container" style="margin-top: 100px;">
  <h3>
    Imóveis em todo o Brasil para comprar ou alugar
  </h3>
    <div class="row mt-5">
      <div class="col" *ngFor="let anuncio of anuncios">
        <div class="card border-0">
          <img [src]="anuncio.image" class="card-img-top anuncios">
          <div class="card-body">
            <div>
              <a class="link-anuncio" href="#">
                Imóveis a venda em {{ anuncio.cidade }}
              </a><br>
              <a class="link-anuncio" href="#">
                Apartamentos a venda em {{ anuncio.cidade }}
              </a><br>
              <a class="link-anuncio" href="#">
                Casas à venda em {{ anuncio.cidade }}
              </a><br>
              <a class="link-anuncio" href="#">
                Imóveis para alugar em {{ anuncio.cidade }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col" *ngFor="let dica of dicas">
        <div class="card border-0">
          <img [src]="dica.image" class="card-img-top">
          <div class="card-body text-center">
            <h5 class="card-title">{{ dica.title }}</h5>
            <a href="#" class="btn w-50 btn-primary">{{ dica.button }}</a>
          </div>
        </div>
      </div>
    </div>
</div>
