.card > img{
    border-radius: 20px;
}

.btn{
    width: 200px !important;
    background-color: #6e0ad6;
    border-radius: 15px;
}

.anuncios{
    width: 240px;
    height: 135px;
    border-radius: 5px !important;
}

.link-anuncio{
  font-size: 11px;
  text-decoration: none;
}

a.btn{
  font-size: 15px;
}
