<div class="container mt-5">
  <h4>
    Melhores locais para se morar
  </h4>
  <div class="row">
    <div class="col" *ngFor="let destaque of destaques; let i = index">
      <div class="card border-0">
        <img [src]="destaque.imagem" class="card-img-top">
        <div class="card-body" [ngStyle]="{'background-color': getColor(i)}">
          <h5 class="card-title">
            {{ destaque.cidade }}
          </h5>
          <p class="card-text">
            {{ destaque.distancia }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


