.background{
    background-image: url(../../../../assets/images/background-filters.jpg);
    background-position: center 20%;
    background-size: cover;
    height: 480px;
}

.filter{
    border-radius: 5px;
    width: 1000px;
    height: 180px;
    background-color: #fff;
    margin: 0px auto;
}

div.col > label, input, .btn-group > label{
    font-size: 16px;
}

.title{
  padding: 210px 0px 20px 155px;
}

.btn-search{
    background: #6e0ad6;
    color: #fff;
    width: 75%;
}

input:checked + .a{
  background-color: #6e0ad6;
  color: white;
}

.a:hover{
  background-color: #6e0ad6;
}

.col-2 > button{
    margin-top: 55px;
}
