<div class="container-fluid background">
    <div>
        <h4 class="text-light   title">Quando você muda, tudo muda junto.</h4>
    </div>
    <div class="filter shadow-sm">
        <div class="row p-3">
            <div class="col">
                <label class="mt-4 mb-2">O que você precisa?</label>
                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary a" for="btnradio1">Comprar</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary a" for="btnradio2">Alugar</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary a" for="btnradio3">Lançamentos</label>
                  </div>
            </div>
            <div class="col">
                <label class="mt-4 mb-2">Qual tipo? </label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Todos os Imóveis</option>
                    <option value="1">Apartamento</option>
                    <option value="2">Studio</option>
                    <option value="3">Kitnet</option>
                    <option value="4">Casa</option>
                    <option value="5">Casa de Condomínio</option>
                    <option value="6">Casa de Vila</option>
                    <option value="7">Cobertura</option>
                    <option value="8">Flat</option>
                  </select>
            </div>
            <div class="col">
                <label for="endereco" class="form-label mt-4 mb-2">Onde?</label>
                <input type="email" class="form-control" id="endereco" placeholder="Adicionar uma rua, bairro ou cidade">

            </div>
            <div class="col-2">
                <button type="button" class="btn btn-search">Buscar</button>
            </div>

        </div>
    </div>
</div>
